.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background: #49df83;
    border-bottom: 1px solid #eee
}
.linkItem{
    background:  rgb(249, 232, 85);
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 1.1rem;  
}
.brand {
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none
}
.logout{
    background:  rgb(246, 35, 35);
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 1.1rem;
}
.nav-right a {
    margin-left: 16px;
    color: #333;
    text-decoration: none
}

.btn {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer
}

.btn.primary {
    background: #2b8aef;
    color: #fff;
    border: none
}

.small {
    padding: 6px 10px
}

.username {
    margin-left: 12px;
    margin-right: 8px;
    color: #555
}