.nav {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #49dfbc;
    border-bottom: 1px solid #eee;
    position: fixed;

}
.linkItem{
    background:  rgb(85, 249, 107);
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 1.1rem;  
}
.brand {
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    margin-left: 2rem;
}
.logout{
    background:  rgb(238, 103, 103);
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 1.05rem;
}
.nav-right{
    margin-right: 2rem;
}
.nav-right a {
    margin-left: 16px;
    color: #333;
    text-decoration: none
}

.btn {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer
}

.btn.primary {
    background: #2b8aef;
    color: #fff;
    border: none
}

.small {
    padding: 6px 10px
}

.username {
    margin-left: 12px;
    margin-right: 8px;
    color: #555
}