/* Background */
.registerWrapper {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Card */
.glassCard {
    width: 400px;
    padding: 35px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: #000000;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25);
    animation: fadeIn 1s ease;
}

/* Title */
.title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #0072ff;
}

/* Error Box */
.errorBox {
    background: #ffe1e1;
    color: #b50000;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}

/* Input Group */
.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.inputGroup label {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 600;
    color: #333;
}

.inputGroup input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    outline: none;
    font-size: 15px;
    background: #f5f8ff;
    color: #333;
    transition: 0.3s;
}

.inputGroup input:focus {
    border-color: #0072ff;
    box-shadow: 0 0 6px rgba(0, 114, 255, 0.4);
    background: #ffffff;
}

/* Button */
.btnSubmit {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    background: #0072ff;
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    transition: 0.25s ease;
}

.btnSubmit:hover {
    background: #0058d1;
    transform: translateY(-2px);
}

/* Bottom Link */
.switchText {
    margin-top: 15px;
    text-align: center;
    color: #1b1b1b;
}

.switchText a {
    color: #0072ff;
    text-decoration: underline;
    font-weight: 700;
}

/* Fade Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
