.home-hero {
    min-height: 72vh;
    padding: 48px;
    text-align: center;
    background: linear-gradient(90deg, #d4e8a0, #a9f9e9);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../../public/menuHome.jpeg');
}

.title {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(255, 243, 15);
    margin-bottom: 8px;
}

.home-hero p {
    margin-bottom: 16px;
    color: #7bffe7;
    font-size: 2rem;
}