#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.app-root{
  width: 100%;
  height: 100%;
}
.container{
  height: 94%;
  width: 100%;
  overflow: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}